.home-container {
  .body {
    video {
      top: 0;
      position: fixed;
      width: 100vw;
    }

    .content {
      position: relative;
      padding-top: 260px;

      .title {
        font-size: 30px;
        font-weight: 600;
      }

      .text {
        font-size: 25px;
      }

      .btn-start {
        padding: 10px;
        background-color: #262627;
        color: #f9f9f9;
        border-radius: 5px;
        border: none;
        outline: none;

        &:hover {
          background-color: #535354;
        }
      }
    }
  }
}
