.trip-container {
  .body {
    .body-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search {
        position: relative;

        .search-icon {
          position: absolute;
          cursor: pointer;
          right: 0;
          color: rgb(87, 87, 175);
        }

        .search-input {
          border: none;
          padding-right: 70px;
          outline: none;
          border-bottom: 1px solid #ccc;
          width: 20rem;
        }
      }

      .add-icon {
        font-size: 40px;
        cursor: pointer;

        &:hover {
          color: rgb(56, 56, 123);
        }
      }
    }

    .trip-detail {
      .infor {
        display: flex;
        justify-content: space-between;

        .place {
          font-size: 20px;
          font-weight: 500;

          i {
            color: #7f8583;
            font-size: 25px;
          }
        }

        .time {
          font-size: 20px;
          font-weight: 300;
        }
      }

      .action {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        .edit {
          cursor: pointer;
          font-size: 25px;
          &:hover {
            color: rgb(129, 129, 229);
          }
        }

        .trash {
          font-size: 25px;
          cursor: pointer;
          &:hover {
            color: rgb(246, 100, 100);
          }
        }
      }

      .costs {
        .title {
          font-size: 25px;
          font-weight: 500;

          i {
            color: #ffd700;
          }
        }

        li {
          font-size: 20px;
          display: flex;
          justify-content: space-between;

          .edit {
            cursor: pointer;

            &:hover {
              color: rgb(129, 129, 229);
            }
          }

          .trash {
            cursor: pointer;

            &:hover {
              color: rgb(246, 100, 100);
            }
          }
        }
      }
    }
  }
}
