.login-container {
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 5rem;

    .title {
      font-size: 30px;
      font-weight: 500;
    }

    .text {
      font-size: 25px;
      font-weight: 400;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        padding: 10px 0;
      }

      button {
        margin-top: 20px;
        background-color: #262627;
        border: none;

        &:hover {
          background-color: #363637;
        }

        &:disabled {
          background-color: #dddddd;
          color: #afafaf;
          cursor: no-drop;
        }
      }

      .loader-icon {
        animation: spin 1s infinite linear;
        margin-right: 7px;
        top: 2px;
      }
    }
  }
}
